html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttons{
  margin-left: 600px;
  margin-top: 90px;
  text-align: center;
  padding-right: 200px;
  position:relative;
  
}
.submitButton{
  margin-left: 600px;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.form1{
  align-content: center;
}

input {
  width: 100%;
}

input[type="text"] {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.PetHeading {
  font-family: Arial, serif;
  color: #0a58ca;
}

.PersonInfo{
  font-family: Arial, serif;
  color: #0a58ca;
}

.display-4{
  margin-top: 50px;
  font-family: Arial, serif;
  color: #0a58ca;
}

.display-5{
  color: #0a58ca;
}
.logo {
  height: 70px;
  
}
.navbar-nav {
  background-color: #0a58ca;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item{
  font-family: Arial, serif;
  color: #ffffff;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 14px;
}
.nav-item:hover{
  background-color: #ffffff; ;
}

.text-center2{
  border-top: 1px solid #000;
  border-top-width: thick;
  border-top-color: #0f7864;
  border-bottom:1px solid #000;
  border-bottom-color: #0f7864;
  border-bottom-width: thick;
  text-align: center;
}






