html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
}

body {
  margin-bottom: 60px;
}

.buttons{
  margin-left: 600px;
  margin-top: 90px;
  text-align: center;
  padding-right: 200px;
  position:relative;
  
}
.submitButton{
  margin-left: 600px;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.form1{
  align-content: center;
}

input {
  width: 100%;
}

input[type="text"] {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.PetHeading {
  font-family: Arial, serif;
  color: #0a58ca;
}

.PersonInfo{
  font-family: Arial, serif;
  color: #0a58ca;
}

.display-4{
  margin-top: 50px;
  font-family: Arial, serif;
  color: #0a58ca;
}

.display-5{
  color: #0a58ca;
}
.logo {
  height: 70px;
  
}
.navbar-nav {
  position: sticky;
  background-color: #033357;
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
}

.nav-item{
  position: sticky;
  font-family: Arial, serif;
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 14px;
}
.nav-item:hover{
  position: sticky;
  background-color: #2a7aaf; 
}

.text-center2{
  border-top: 1px solid #ffffff;
  border-top-width: thick;
  border-top-color: #0f7864;
  border-bottom:1px solid #ffffff;
  border-bottom-color: #0f7864;
  border-bottom-width: thick;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.good{
  color: green;
}
.ok{
  color: orange;
}
.bad{
  color: red;
}

.bannerButton {
  background-color: #033357;
  margin-left: 550px;
  margin-bottom: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bannerButton:hover{
  background-color: #2a7aaf;
}

.nav-item{
  color: #ffffff;
}

nav a {
  position: static;
  color:#ffffff;
}

.h2{
  color: #033357;
}

.submitBtn{
  background-color: #033357;
  margin-top: 20px;
  margin-left: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

  











