html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttons{
  margin-left: 370px;
  margin-top: 130px;
  text-align: center;
  padding-right: 300px;
  position:relative;
}
.submitButton{
  margin-left: 600px;
  width: 150px;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.form1{
  align-content: center;
}

input {
  width: 100%;
}

input[type="text"] {
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.PetHeading {
  font-family: Arial, serif;
  color: #0a58ca;
}

.PersonInfo{
  font-family: Arial, serif;
  color: #0a58ca;
}

.display-4{
  font-family: Arial, serif;
  color: #0a58ca;
}

.display-5{
  color: #0a58ca;
}
.logo {
  height: 70px;
  
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

.nav-item{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 14px;
}
.nav-item:hover{
  background-color: #009688; ;
}






