@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <p>Elanco, Making your rebate process a lot easier.</p>
</div>

<div class="buttons">
    <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
        <input type="submit">
    </form>
</div>



hhhhh