<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>

@{
    ViewData["Title"] = "Home Page";
}
<div class="header">
    
</div>
<div class="text-center">
    <h1 class="display-4">YOUR PET AND YOU!!</h1>
    <p>Welcome To the Elanco Rebate Processes.</p>
</div>

<div class="buttons">
    <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
    </form>
</div>

<div class="submitButton">
    <form action="/action_page.php">
        <input type="submit"/>
    </form>
</div>


</body>

</html>


