@model UserViewModel
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

@{
    ViewData["Title"] = "Instructions";
}
<div class="text-center">
    <h1 class="display-4">Instructions</h1>
    <p class="display-5">Welcome To the Elanco Rebate Processes.</p>
    <p>To obtain a rebate, click on the upload button and make sure the file is uploaded. <br/>Click on the "Extract Data" button and wait for the file to be processed. </p>
    <br/>
</div>
</body>
